.Main-content{
  background-color: #C2D1D0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  font-size: 100%;
}
.NavBar{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0.5em;
}
.body{
  display: flex;
  flex-direction: row;
  min-width: 100vw;
  min-height: 100vh;
}
.clickableLogo{
  display:block;
  margin-left: 2em;
  z-index: 1;
}
@media screen and (min-width: 1029px){
  .logo {
    aspect-ratio: auto;
    width: 300px;
    flex-shrink: 1;
  }
}
@media screen and (max-width: 1028px){
  .logo {
    aspect-ratio: auto;
    width: 250px;
    flex-shrink: 1;
  }
}
.content{
  display: flex;
  width: 100%;
}
